/* Custom styles */

body {
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}

table, p, body {
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-weight: 900;
}

.jumbotron, .footer, .section {
  text-align: center;
}

.footer img {
    margin-right: 50px;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #333 0 1px 1px;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url('../images/bg.jpg') no-repeat center center;
}

.jumbotron h1, .jumbotron h2 {
    color: white;
}

.section {
    padding: 60px 60px;
}

.section h1 {
    font-size: 68px;
}

